<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <connectionStrings>
    <!--<add name="ConStr" connectionString="user id=QFOR_EQA;data source=DUNST;password=quantum;Connection Lifetime=0;Max Pool Size=30; Min Pool Size=0;Pooling=true" providerName="System.Data.OracleClient" />-->
    <add name="ConStr" connectionString="user id=QFOR_DUNST;data source=QBSO11G;password=quantum;Connection Lifetime=0;Max Pool Size=30; Min Pool Size=0;Pooling=true" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <appSettings>
    <add key="UsrStr" value="QFOR_DUNST" />
    <!--<add key="UsrStr" value="QFOR_EQA" />-->
    <add key="dateFormat" value="dd/MM/yyyy" />
    <add key="Client" value="BNM" />
    <add key="IsMultiLogin" value="True" />
    <add key="IsActivityTrack" value="True" />
    <add key="MailServer" value="50.31.152.12" />
    <add key="SMTPServer" value="50.31.152.12" />
    <add key="BarCodeLength" value="30" />
    <add key="ShowBarcode" value="1" />
    <add key="CustSupportName" value="QuantumSupport Team" />
    <add key="LOGO" value="defaultLogo.jpg" />
    <add key="TimeZone" value="05:30" />
    <add key="IsActivityLogEnabled" value="True" />
    <add key="IsMultiSessionEnabled" value="True" />
    <add key="SEND_USERNAME" value="support_temp@quantum-bso.com" />
    <add key="SEND_PASSWORD" value="test123" />
    <add key="SMS_UserId" value="9740447518" />
    <add key="SMS_Pwd" value="123456" />
    <add key="Footer_Color" value="Blue" />
    <add key="Footer_FontSize" value="XXSmall" />
    <add key="Back_Color" value="FFFFCC" />
    <add key="WINXMLPath" value="C:\WINXML\" />
    <add key="WINXMLPathArchieve" value="C:\WINACK_ARCHIEVE\" />
    <add key="WINXMLPathACK" value="C:\WINACK\" />
    <add key="SecretKey" value="QFORWIN001" />
    <add key="HelpIntroLink" value="../../Forms/HELP/index.html?q_for.htm" />
    <add key="RemovalsBizType" value="1" />
    <add key="FINIntFilePath" value="C:\files_uploaded\" />
    <add key="ProductID" value="qfor" />
    <add key="DBBackupRestore" value="TEMPQFOR1/quantum@qbso" />
    <add key="DB_CreateUser_RightsUser" value="system/quantum@qbso" />
    <add key="DBMANUALEXPORT_PATH" value="C:\QFOR_EXPORT_FILES" />
    <add key="EXPORTFILES_VIRTUALDIRECTORY" value="http://192.168.10.100/QFOR_EXPORT_FILES_1" />
    <add key="EXPORTIMPORTPROJ_VIRTUALDIRECTORY" value="http://192.168.10.100/Q-Database/frm_Backup_Restore.aspx" />
    <add key="EVENTVIEWER" value="True" />
    <add key="LogPath" value="C:\inetpub\wwwroot\QFORDUNST\QFSIService\Supports" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="PasswordExpiry" value="40" />
    <add key="DaysForAlert" value="0" />
    <add key="xlsProvider" value="Microsoft.ACE.OLEDB.12.0" />
    <add key="xlsExtProp" value="Excel 12.0" />
    <add key="maxWebRequestLength" value="10000000" />
    <add key="SCMode" value="Development" />
    <add key="VersionNo" value="10.0.0.1" />
    <add key="QFINGeneral" value="True" />
    <add key="AutoInvoice" value="True" />
  </appSettings>
  <system.web>
    <pages validateRequest="false" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime requestValidationMode="2.0" executionTimeout="36000" maxRequestLength="2097151" targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>